@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto-Medium.ttf);
    src: url(../fonts/Roboto-Bold.ttf);
    src: url(../fonts/Roboto-Regular.ttf);
}

%flex-element-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

%flex-element-space-between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
%flex-element-space-between-fl-dir-column {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

main {
    .page-news {
        @extend %flex-element-space-between-fl-dir-column;
        padding: 100px 0 0 0;
        width: 100%;
        max-width: 1200px;

        .ozzi{
            margin-top: 65px;
            img {
                float: right;
            }
        }

        .eminem{
            display: flex;
            justify-content: space-between;
            img {
                float: left;
            }
        }

        h2 {
            margin: 0 0 45px;
            font-size: 38px;
            line-height: 57px;
        }

        .news-item {
            width: 100%;

            img {
                height: 286px;
            }
            
            .text {
                width: 576px;
                height: 276px;
                padding: 0 0 20px;
                align-items: flex-start;
                @extend %flex-element-space-between-fl-dir-column;
                .news-body {

                    h3 {
                        margin: 0;
                        font-size: 30px;
                        line-height: 45px;
                    }

                    p {
                        margin: 30px 0 24px;
                        font-size: 16px;
                        line-height: 150%;
                    }
                }
                
                .news-footer {
                    height: 100%;
                    align-items: flex-start;
                    @extend %flex-element-space-between-fl-dir-column;

                    .news-author {
                        grid-gap: 0 16px;
                        @extend %flex-element-space-between;

                        .icon {
                            width: 19px;
                            height: 19px;
                            background-image: url(../images/avatar.png);
                        }

                        span {
                            font-size: 12.8px;
                            line-height: 150%;
                        }

                        .color {
                            color: #F89202;
                        }
                    }
                    
                    a {
                        @extend %flex-element-center;
                        width: 135px;
                        height: 53px;
                        font-size: 12.8px;
                        line-height: 150%;
                        color: #CACACA;
                        text-decoration: none;
                        border: 1px solid #CACACA;
                        box-sizing: border-box;
                        border-radius: 5px;
                    }
                }
            }
        }
    }
}

@media (max-width: 975px) {
    main {
        .page-news {
            .news-item {
                width: fit-content;
            }

            .ozzi {
                
                img {
                    float: none;
                }
            }
            .eminem {
                display: block;
                img {
                    float: none;
                }
            }
        }
    }
}

@media (max-width: 414px) {
    main {
        .page-news {
            box-sizing: border-box;
            margin-top: 100px;
            padding: 0 20px;
            h2 {
                font-size: 18px;
                line-height: 27px;
            }
            .news-item {
                img {
                    height: 186px;
                }
                
                .text {
                    margin-top: 45px;
                    width: 100%;

                    .news-body {
                        h3 {
                            font-size: 16px;
                            line-height: 24px
                        }

                        p {
                            font-size: 16px;
                            line-height: 150%;
                        }
                    }
                }
            }
        }
    }
}